<span data-controller="hw-animated-number"
      data-hw-animated-number-value-value="<%= @value %>"
      data-hw-animated-number-duration-value="<%= @duration %>"
      data-hw-animated-number-easing-value="<%= easing_value %>"
      class="tabular-nums inline-block"
      <%= tag.attributes(@extra_attrs) %>>
  <%= @prefix %><span data-hw-animated-number-target="output"><%= number_with_delimiter(@value) %></span><%= @suffix %>
</span>
