<div class="<%= container_classes %>" data-controller="hw-compare" <%= tag.attributes(@extra_attrs) %>>
  <div class="relative w-full" style="padding-bottom: 56.25%;">
    <img src="<%= @after_src %>" alt="<%= @after_label %>" class="absolute inset-0 h-full w-full object-cover">
    <div class="absolute inset-0 overflow-hidden" data-hw-compare-target="before" style="width: 50%;">
      <img src="<%= @before_src %>" alt="<%= @before_label %>" class="absolute inset-0 h-full w-full object-cover" style="min-width: 100vw; max-width: none;">
    </div>
    <input type="range" min="0" max="100" value="50"
           class="absolute inset-0 z-10 m-0 h-full w-full cursor-ew-resize opacity-0"
           data-action="input->hw-compare#slide">
    <div class="absolute top-1/2 z-20 h-full w-0.5 -translate-y-1/2 bg-white shadow-lg"
         data-hw-compare-target="handle" style="left: 50%;">
      <div class="absolute top-1/2 left-1/2 flex h-10 w-10 -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full bg-white shadow-lg">
        <svg class="h-5 w-5 text-hw-foreground" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/>
        </svg>
      </div>
    </div>
    <span class="absolute bottom-3 left-3 z-20 rounded bg-black/60 px-2 py-1 text-xs font-medium text-hw-primary-foreground"><%= @before_label %></span>
    <span class="absolute bottom-3 right-3 z-20 rounded bg-black/60 px-2 py-1 text-xs font-medium text-hw-primary-foreground"><%= @after_label %></span>
  </div>
</div>
