<span data-controller="hw-countdown"
      data-hw-countdown-value-value="<%= @value %>"
      data-hw-countdown-target-value="<%= @target %>"
      data-hw-countdown-duration-value="<%= @duration %>"
      class="tabular-nums"
      <%= tag.attributes(@extra_attrs) %>>
  <%= @prefix %><span data-hw-countdown-target="output"><%= @value %></span><%= @suffix %>
</span>
