<div class="<%= wrapper_classes %>" <%= tag.attributes(@extra_attrs) %>>
  <%= content %>
  <span class="<%= badge_classes %>">
    <% unless @dot %>
      <%= @badge_content %>
    <% end %>
  </span>
</div>
