<div class="relative" data-controller="hw-password">
  <input type="password" name="<%= @name %>" value="<%= @value %>" placeholder="<%= @placeholder %>" <%= 'disabled' if @disabled %> <%= 'required' if @required %> class="<%= input_classes %>" data-hw-password-target="input" <%= tag.attributes(@extra_attrs) %>>
  <% if @show_toggle %>
    <button type="button" class="absolute right-0 top-0 flex h-full items-center px-3 text-hw-muted-foreground hover:text-hw-foreground" data-action="click->hw-password#toggle">
      <svg class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/><path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/></svg>
    </button>
  <% end %>
</div>
