<% qr = modules %>
<% total = qr.size + @margin * 2 %>
<div class="<%= merge_classes('inline-block', @extra_attrs.delete(:class)) %>"
     <%= tag.attributes(@extra_attrs) %>>
  <svg xmlns="http://www.w3.org/2000/svg"
       width="<%= @size %>"
       height="<%= @size %>"
       viewBox="0 0 <%= total %> <%= total %>"
       shape-rendering="crispEdges">
    <rect width="<%= total %>" height="<%= total %>" fill="white"/>
    <% qr.each_with_index do |row, r| %>
      <% row.each_with_index do |cell, c| %>
        <% if cell == 1 %>
          <rect x="<%= c + @margin %>" y="<%= r + @margin %>" width="1" height="1" fill="black"/>
        <% end %>
      <% end %>
    <% end %>
  </svg>
</div>
