<div class="relative">
  <div class="absolute left-3 top-1/2 -translate-y-1/2 text-hw-muted-foreground">
    <svg class="h-4 w-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>
  </div>
  <input type="search" name="<%= @name %>" value="<%= @value %>" placeholder="<%= @placeholder %>" <%= 'disabled' if @disabled %> class="<%= input_classes %>" <%= tag.attributes(@extra_attrs) %>>
</div>
