<div class="relative w-full">
  <input type="range" name="<%= @name %>" value="<%= @value %>" min="<%= @min %>" max="<%= @max %>" step="<%= @step %>" <%= 'disabled' if @disabled %> class="<%= slider_classes %>" <%= tag.attributes(@extra_attrs) %>>
</div>
