<div class="<%= container_classes %>" data-controller="hw-speed-dial" <%= tag.attributes(@extra_attrs) %>>
  <div data-hw-speed-dial-target="actions" class="<%= actions_classes %> hidden">
    <% @actions.each do |action| %>
      <div class="flex items-center gap-2">
        <% if action[:label] %>
          <span class="rounded bg-hw-foreground px-2 py-1 text-xs text-hw-background shadow"><%= action[:label] %></span>
        <% end %>
        <a href="<%= action[:href] %>" class="<%= action_classes %>" aria-label="<%= action[:label] %>">
          <% if action[:icon] %>
            <span class="h-5 w-5"><%= action[:icon].html_safe %></span>
          <% end %>
        </a>
      </div>
    <% end %>
  </div>
  <button type="button"
          class="<%= fab_classes %>"
          data-action="click->hw-speed-dial#toggle"
    aria-label="Open actions">
    <svg class="h-6 w-6 transition-transform duration-200" data-hw-speed-dial-target="icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
    </svg>
  </button>
</div>
