<span data-controller="rb-animated-number"
      data-rb-animated-number-value-value="<%= @value %>"
      data-rb-animated-number-duration-value="<%= @duration %>"
      data-rb-animated-number-easing-value="<%= easing_value %>"
      class="tabular-nums inline-block"
      <%= tag.attributes(@extra_attrs) %>>
  <%= @prefix %><span data-rb-animated-number-target="output">0</span><%= @suffix %>
</span>
