<div class="flex items-center gap-2" data-controller="rb-color-picker">
  <input type="color" name="<%= @name %>" value="<%= @value %>" <%= 'disabled' if @disabled %> class="h-9 w-9 cursor-pointer rounded-md border border-rb-input bg-transparent p-0.5 disabled:cursor-not-allowed disabled:opacity-50" data-action="input->rb-color-picker#update" <%= tag.attributes(@extra_attrs) %>>
  <% if @show_input %>
    <input type="text" value="<%= @value %>" <%= 'disabled' if @disabled %> class="h-9 w-24 rounded-md border border-rb-input bg-rb-background px-3 text-sm text-rb-foreground ring-offset-rb-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-rb-ring focus-visible:ring-offset-2" data-rb-color-picker-target="text" data-action="input->rb-color-picker#parse">
  <% end %>
</div>
