<div class="relative inline-block"
     data-controller="rb-tooltip"
     data-rb-tooltip-delay-value="<%= @delay %>"
     data-action="mouseenter->rb-tooltip#show mouseleave->rb-tooltip#hide focus->rb-tooltip#show blur->rb-tooltip#hide">
  <div data-rb-tooltip-target="trigger">
    <%= content %>
  </div>
  <div class="<%= tooltip_classes %>"
       data-rb-tooltip-target="content"
       role="tooltip"
       data-side="<%= @side %>"
       hidden
       <%= tag.attributes(@extra_attrs) %>>
    <%= @content %>
  </div>
</div>
