<%# IndicatorBadge component — ERB partial %>
<%# Usage: render 'hotwirebits/indicator_badge', ... %>

<div class="<%= wrapper_classes %>" <%= tag.attributes(local_assigns) %>>
  <%= content %>
  <span class="<%= badge_classes %>">
    <% unless dot %>
      <%= content %>
    <% end %>
  </span>
</div>
